.accordian {
  // border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  .label {
    color: $clr-primary;
    cursor: pointer;
    display: block;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;

    .title {
      font-weight: 300;
    }

    &:hover {
      background-color: darken(white, 3%);
    }

    &.open {
      .closed-icon {
        display: none;
      }
    }

    &.closed {
      .open-icon {
        display: none;
      }
    }
  }

  .content {
    overflow: hidden;

    div {
      padding: 1rem;
    }
  }
}
