.accordian {
  border: 1px solid $clr-qul-light-blue;
  margin: 2rem 0;


  .label {
    color: $clr-primary;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    padding: 1rem;
    transition: all 0.4s ease-out;

    .title {
      font-weight: 300;
    }

    &:hover {
      background-color: $clr-qul-light-blue;

    }

    &.open {
      .closed-icon {
        display: none;
      }
    }

    &.closed {
      .open-icon {
        display: none;
      }
    }
  }

  .content {
    overflow: hidden;

    div {
      padding: 1rem;
    }
  }
}
