#site-breadcrumbs {
  background-color: $clr-qul-blue;
  font-size: 0.9rem;
  margin-top: 2rem;

  ol {
    margin: 0;
    min-height: 2.5rem;
    display: flex;
    align-items: center;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}