$desktop: 1600px;
$laptop: 1150px;
$tablet: 800px;
$phablet: 600px;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: $laptop) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: $phablet) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: $phablet) {
      @content;
    }
  }
}

// @include breakpoint(mobileonly) {
//   css goes here
// }


