#site-footer {
  background-color: white;
  border-top: 1px solid $clr-primary;
  margin: 0 2vw;
  padding: 2rem;

  .colophon {
    font-size: 0.9rem;
  }

  .queens-logo {
    text-align: right;

    img {
      max-width: 100%;
    }
  }

  @include breakpoint(700px) {
    justify-content: space-between;
    display: flex;

    .colophon {
      max-width: 70%;
    }
  }
}
