html {
  background: url(../images/qul-bg.svg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $clr-text-main;
}

a, button {
  &:focus {
    outline: 1px dotted $clr-primary;
  }
}

button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}
