html {
  background: url(../images/qul-bg.svg) no-repeat center center fixed;
  background-size: cover;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

button {
  border-color: transparent;
  background-color: transparent;
  outline: none;
}

.container {
  max-width: $tablet;
  margin: 0 auto;

  @include breakpoint($desktop) {
    max-width: $desktop - $buffer;
  }
}

#site-inner {
  @include breakpoint($desktop) {
    display: flex;
  }
}