html {
  background: url(../images/qul-bg.svg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $clr-text-main;
}

a {
  color: $clr-text-link;
  text-decoration: none;
  font-weight: bold;

  // &:visited {
  //   color: $clr-text-link-visited;
  // }

  &:hover {
    text-decoration: underline;
    color: $queens-logo-red;
  }
}
