#site-header {
  background-color: white;
  border-bottom: 3px solid $clr-primary;

  .container {
    @include breakpoint($desktop) {
      display: flex;
      // justify-content: space-between;
      // align-items: flex-end;
    }

    #site-logo {
      display: inline-block;
      img {
        padding: 0.5rem;
        max-width: 100%;
      }
      padding-right: 1rem;
    }

    #menu-block {
      max-width: 100%;
      // display: flex;

      #util-nav,
      #main-nav {
        .ant-menu-item {
          width: auto;
        }
      }

      /* Util Nav */
      #util-nav {
        display: flex;
        justify-content: flex-end;
        border-right: 0;
        $util-nav-width: calc(100%);

        li {
          padding: 0;

          .label {
            display: none;

            @include breakpoint($desktop) {
              display: inline;
            }
          }
        }

        .anticon,
        .site-search-button {
          font-size: 1rem !important;
        }

        button {
          padding: 0;
          svg {
            transform: none;
          }
        }

        #site-search {
          overflow: visible;

          .ant-input-search {
            position: absolute;
            left: -9999px;
            // left: -450px;
            z-index: 10;
            top: 5px;
            width: 300px;

            @include breakpoint($desktop) {
              width: 450px;
            }

            input {
              padding: 0;
              box-shadow: 0 0 0 2px $clr-qul-yellow;
              border: 0;
            }
          }

          .active {
            left: -300px;

            @include breakpoint($desktop) {
              left: -450px;
            }
            

            input {
              padding: 0 1rem;
            }
          }

          .ant-input-suffix {
            display: none;
          }

          .site-search-btn {
            cursor: pointer;
            // border: 1px solid red;
            min-width: 40px;
          }
        }
      }

      /* Main Nav */
      #main-nav {
        display: flex;
        justify-content: flex-end;
        border-right: 0;

        .ant-menu-submenu-title {
          text-transform: uppercase;
          font-weight: 300;
        }

        .ant-menu-submenu {
          .ant-menu-submenu-arrow {
            display: none;
          }

          &:hover {
            .ant-menu-submenu-arrow {
              display: block;
            }
          }
        }

        .ant-menu-submenu-open {
          .ant-menu-submenu-arrow {
            display: block !important;
          }
        }
      }
    }
  }
}
