#site-main {
  background-color: white;
  padding: 2rem;
  margin: 2rem 2vw 0;

  a {
    color: $clr-text-link;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: $queens-logo-red;
    }

    &:visited {
      color: $clr-text-link-visited;
    }
  }

  h1 {
    color: $clr-primary;
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
  }

  h2 {
    color: $clr-primary;
    font-weight: bold;
  }

  ul {
    padding-inline-start: 0.5rem;

    li {
      list-style-type: none;
      line-height: 1.8rem;

      &:before {
        content: '\25CF '; // https://www.w3schools.com/charsets/ref_utf_geometric.asp
        color: $clr-secondary;
        padding-right: 0.5rem;
      }
    }
  }
}
