// Wraps @content in a @media block using a given query.
// @param $pixels pixel width of breakpoint
// @ param  $min set to false for max-with (e.g. mobile only)
@mixin breakpoint($pixels, $min: true) {
  @if $min == true {
    @media (min-width: $pixels) {
      @content;
    }
  } @else {
    @media (max-width: $pixels) {
      @content;
    }
  }
}

// used to set button styles
// @param $baseColour the background colour of the button
@mixin buttonStyle($baseColour) {
  background-color: $baseColour;
  border-bottom: 3px solid $clr-text-main;
  color: white;
  &:hover {
    background-color: darken($baseColour, 10%);
  }
}
