/* from Queen's logo */
$queens-logo-black: #231f20;
$queens-logo-red: #b81237;
$queens-logo-blue: #002f5e;
$queens-logo-gold: #febe10;
$queens-logo-purple: #662d91;

/* from QUL website */
$clr-qul-blue: #406486;
$clr-qul-light-blue: #d9e0e7;
$clr-qul-lighter-blue: #e5eaef;
$clr-qul-yellow: #fcc34c;
$clr-qul-gray: #8c8c8c;

/* primary pallete */
$clr-primary: $queens-logo-blue;
$clr-secondary: $queens-logo-red;

/* text pallete */
$clr-text-main: $queens-logo-black;
$clr-text-link: #1d70ad;
$clr-text-link-visited: $queens-logo-purple;

/* widths */
$desktop: 1200px;
$tablet: 750px;
$buffer: 50px;

/* fonts */
$font-main: 'Open Sans', sans-serif;