/* from Queen's logo */
$queens-logo-black: #231f20;
$queens-logo-red: #b81237;
$queens-logo-blue: #002f5e;
$queens-logo-gold: #febe10;
$queens-logo-brown: #915b3d;
$queens-logo-green: #00a65e;
$queens-logo-purple: #662d91;

/* from QUL website */
$clr-qul-blue: #406486;
$clr-qul-yellow: #fcc34c;
$clr-qul-light-blue: #e5eaef;

/* primary pallete */
$clr-primary: $queens-logo-blue;
$clr-secondary: $queens-logo-red;

/* text pallete */
$clr-text-main: $queens-logo-black;
$clr-text-link: #1d70ad;
$clr-text-link-visited: $queens-logo-purple;