#site-header {
  background-color: white;
  border-bottom: 3px solid $clr-primary;

  svg {
    fill: $clr-primary;
    font-size: 1rem;
  }

  .container {
    @include breakpoint($desktop) {
      display: flex;
      justify-content: space-between;
    }

    #site-logo {
      display: inline-block;
      img {
        padding: 0.5rem;
        max-width: 100%;
      }
      padding-right: 1rem;
    }

    #menu-block {
      // border: 1px solid blue;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // flex-direction: column-reverse;

      @include breakpoint($desktop) {
        display: block;
      }

      .util-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 52px;
        padding-left: 1rem;

        /* 
        * Util Nav 
        */
        #util-nav {
          display: flex;
          justify-content: flex-end;
          border-right: 0;
          // background-color: rgb(195, 255, 242);

          .ant-menu-item {
            .label {
              display: none;

              @include breakpoint($desktop) {
                display: inline;
              }
            }
          }

          button {
            padding: 0;
            svg {
              transform: none;
            }
          }

          &.search-active {
            display: none;
          }
        } /* end #util-nav */

        /*
        * Site Search
        */
        #site-search {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          height: 40px;

          .ant-input-search {
            width: 40px;

            input {
              border: 0;
            }

            &.search-active {
              width: 100%;
              
              input {
                box-shadow: 0 0 0 1px $clr-qul-yellow;
              }
            }
          }
        } /* end #site-search */
      } /* end .util-wrapper */

      /* 
      * Main Nav 
      */
      #main-nav {
        .mobile-nav-btn {
          // background-color: gold;
          padding: 8px;
          min-width: 40px;
        }

        .qul-menu {
          display: flex;
          justify-content: flex-end;
          border-right: 0;

          .ant-menu-submenu-title {
            text-transform: uppercase;
            font-weight: 300;
          }

          .ant-menu-submenu {
            .ant-menu-submenu-arrow {
              display: none;
            }

            &:hover {
              .ant-menu-submenu-arrow {
                display: block;
              }
            }
          }

          .ant-menu-submenu-open {
            .ant-menu-submenu-arrow {
              display: block !important;
            }
          }
        }
      } /* end #main-nav */
    } /* end #menu-block */
  }
}
