html {
  background: url(../images/qul-bg.svg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: $font-main;
  color: $clr-text-main;
}

a,
button {
  &:focus {
    outline: 1px dotted $clr-primary;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  max-width: $med-width;
  margin: 0 auto;

  @include breakpoint($max-width) {
    max-width: $max-width;
  }
}

#site-content {
  @include breakpoint($max-width) {
    display: flex;
  }
}
