#site-sidebar {
  background-color: $clr-qul-light-blue;
  margin: 0 auto;
  max-width: $med-width;
  padding: 2rem;
  width: 100%;
  flex-basis: 40%;

  // @include breakpoint($max-width) {

  // }
}
